<mat-card>
    <form #productForm="ngForm" (submit)="onSubmit(productForm)">
      <mat-card-header class="d-flex justify-content-between align-items-center mb-2">
        <mat-card-title style="margin-bottom: 0px;">
            <span>แก้ไขมูลลูกค้า</span>
        </mat-card-title>
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save</mat-icon>
          บันทึก
      </button>
    </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="py-3 px-2">
        <div class="col-md-6 mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>ชื่อ-สกุล</mat-label>
            <input [ngModel]="cusModel.fullName" name="fullName" matInput />
          </mat-form-field>
        </div>
        <div class="col-md-6 mt-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>เบอร์ติดต่อ</mat-label>
              <input [ngModel]="cusModel.phoneNo" name="phoneNo" matInput required disabled />
            </mat-form-field>
          </div>
        <div class="col-md-6 mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>ชื่อร้านค้า</mat-label>
            <input [ngModel]="cusModel.shopName" name="shopName" matInput required />
          </mat-form-field>
        </div>
        <div class="col-md-12 mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>ที่อยู่</mat-label>
            <input [ngModel]="cusModel.addressNo" name="addressNo" matInput required />
          </mat-form-field>
        </div>
        <div class="col-md-4 mt-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>รหัสไปรษณีย์</mat-label>
              <input [ngModel]="cusModel.postcd" name="postcd" matInput required />
            </mat-form-field>
          </div>
      </mat-card-content>
    </form>
  </mat-card>