<div class="m-4">
  <div class="d-flex justify-content-center">
    <img class="img-fluid bg-white" src="assets/logo/m1.png" width="100" />
  </div>
</div>

<mat-nav-list dense class="mt-2">
  <p mat-subheader>สินค้า</p>
  <a mat-list-item [routerLink]="['/mtek']" (click)="onclickNavClose()">
    <span mat-line><span class="mat-h4">รายการสินค้า</span></span>
    <!-- <img mat-list-avatar src="assets/images/speedometer.png" alt="" /> -->
  </a>
  <mat-divider class="mt-4"></mat-divider>
  <p mat-subheader>ลูกค้า</p>
  <a mat-list-item [routerLink]="['/mtek/customer-all']" (click)="onclickNavClose()">
    <span mat-line><span class="mat-h4">ข้อมูลลูกค้า</span></span>
  </a>
</mat-nav-list>