<mat-card>
  <form #productForm="ngForm" (submit)="onSubmit(productForm)">
    <mat-card-header>
      <mat-card-title class="d-flex justify-content-between align-items-center">
        <span>แก้ไขสินค้า</span>
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save</mat-icon>
          บันทึก
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="py-3 px-2">
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>รหัส</mat-label>
          <input [(ngModel)]="pcd" name="pcd" matInput disabled />
        </mat-form-field>
      </div>
      <div class="col-md-12 mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>รายละเอียดสินค้า</mat-label>
          <input [(ngModel)]="pdesc" name="pdesc" matInput required />
        </mat-form-field>
      </div>
      <div class="col-md-4 mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>ราคา</mat-label>
          <input [(ngModel)]="prcSale" name="prcSale" matInput type="number" required />
        </mat-form-field>
      </div>
      <div class="col-md-4 mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>คลัง</mat-label>
          <input [(ngModel)]="stock" name="stock" matInput type="number" required />
        </mat-form-field>
      </div>
      <div class="col-md-4 mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>หน่วยนับ</mat-label>
          <input [(ngModel)]="uom" name="uom" matInput required />
        </mat-form-field>
      </div>
      <div class="col-md-4 mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>หมวดหมู่</mat-label>
          <mat-select [(ngModel)]="gpcd" name="gpCd" required>
            <mat-option *ngFor="let item of pdGroup" [value]="item.gpcd">
              {{item.gpdesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 mt-2" *ngIf="imageSrc">
        <img class="img-fluid border" [src]="imageSrc" alt="" />
      </div>
      <div class="col-md-8 mt-2">
        <button mat-stroked-button (click)="(fileInput.click())" type="button">
          <mat-icon>photo</mat-icon>
          <span>เลือกรูปภาพ</span>
        </button>
        <input (change)="onPreviewImage($event)" #fileInput type="file" accept="image/*" />
      </div>
    </mat-card-content>
  </form>
</mat-card>